.partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative; /* Define o contêiner como relativo */
}

.partners h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 5%;
}

.partners-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}
<<<<<<< Updated upstream
=======

.partners-grid img {
    width: 65px;
}

@media screen and (min-width: 768px) {
    .partners-grid {
        gap: 50px;
        padding-inline: 5%;
    }

    .partners-grid img {
        width: 150px;
    }
}
>>>>>>> Stashed changes
